<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="initial-scale=0.47">

    <meta property="og:url"           content="http://matrix.heasygame.com/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="MatrixGame by Heasygame" />
    <meta property="og:description"   content="5 minutes to challenge your friend with this fun game of numbers" />
    <meta property="og:image"         content="http://matrix.heasygame.com/images/ogimage.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.ico">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.ico">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.ico">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.ico">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.ico">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.ico">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.ico">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.ico">
    <link rel="manifest" href="/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>MatrixGame by Heasygame</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <%= render_existing(@view_module, "meta." <> @view_template, assigns) || render(MatrixGameWeb.LayoutView, "meta.html", assigns) %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-66977265-5"></script>
    <script type="text/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-66977265-5');

      window.PlayerId = "<%= @id %>";
      <%=  if @conn.assigns[:game_id] do %>
      window.GameId = "<%= @game_id %>";
      <% end %>
    </script>
  </head>

  <body>
    <div id="matrix_dialog" class="matrix-dialog">
      <div class="container">
        <div class="content" id="alert_content">DUMMY</div>
        <div id="alert_close_btn" class="close-btn btn green m-button">OK</div>
      </div>
    </div>
    <div class="navbar-fixed">
      <nav class="black">
        <div class="nav-wrapper container">
          <a href="/" class="brand-logo navbar-brand"><img class="logo" src="/images/logo.png" /></a>
          <a class="brand-logo navbar-brand right hide-on-med-and-down" href='https://play.google.com/store/apps/details?id=com.heasygame.matrix&utm_source=web&utm_campaign=android&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
            <img class="logo" style="height:64px;margin-top:0" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
          </a>
        </div>
      </nav>
    </div>
    <div class="container">
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <div class="footer navbar-fixed-bottom text-center text-warning" style="background:lemonchiffon">
    developed with <a target="_blank" href="https://elixir-lang.org/">Elixir</a> + <a target="_blank" href="http://phoenixframework.org/">Phoenix</a> + <span style="color:red">♥</span> by <a target="_blank" href="https://github.com/vigov5">vigov5</a> and <a target="_blank" href="https://github.com/bs90">bs90</a>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <footer class="footer navbar-fixed-bottom text-center text-warning" style="background:lemonchiffon">
      developed with <a target="_blank" href="https://elixir-lang.org/">Elixir</a> + <a target="_blank" href="http://phoenixframework.org/">Phoenix</a> + <span style="color:red">♥</span> by <a target="_blank" href="https://github.com/vigov5">vigov5</a> and <a target="_blank" href="https://github.com/bs90">bs90</a>
    </footer>
  </body>
</html>
