<div class="row center">
</div>
<div class="row center">
    <button type="button" class="btn blue" id="ready" style="display:none">READY</button>
    <h5 id="counter"><span id="current_sec">0</span> sec</h5>
</div>
<div id="game"></div>
<script>
<%=  if @conn.assigns[:game] do %>
window.locked = <%= @game.locked %>;
window.full = <%= @game.max_player == Enum.count(@game.players) %>;
<% end %>
</script>
