<div class="row center">
  <div class="header-bar col s12 m10 offset-m1">
    <div class="nickname-set input-field col s8">
      <input type="text" id="nick" class="col s8 autocomplete center-align">
      <button type="button" class="col s4 btn green m-button" id="set_nick">Set nickname</button>
    </div>
    <div class="nickname-set input-field col s4">
      <input type="password" id="password" class="col s8 autocomplete center-align" placeholder="Game Password">
      <button type="button" class="col s2 offset-s1 btn green m-button" id="show_password"><i class="material-icons" style="margin-top: 0px;">visibility</i></button>
    </div>
    <div class="full-col input-field col s4">
      <div class="header-select-title col s12">Select mode</div>
      <div class="col s4">
        <label class="matrix-radio" for="mode1">
          <input type="radio" id="mode1" name="mode" value="easy" checked>
          <span>7⇢10</span>
        </label>
      </div>
      <div class="col s4">
        <label class="matrix-radio" for="mode2">
          <input type="radio" id="mode2" name="mode" value="medium">
          <span>6⇢10</span>
        </label>
      </div>
      <div class="col s4">
        <label class="matrix-radio" for="mode3">
          <input type="radio" id="mode3" name="mode" value="hard">
          <span>5⇢10</span>
        </label>
      </div>
    </div>
    <div class="full-col input-field col s4">
      <div class="header-select-title col s12">Number of players</div>
      <div class="col s4">
        <label class="matrix-radio" for="two">
          <input type="radio" id="two" name="max_player" value="2" checked>
          <span>2</span>
        </label>
      </div>
      <div class="col s4">
        <label class="matrix-radio" for="three">
          <input type="radio" id="three" name="max_player" value="3">
          <span>3</span>
        </label>
      </div>
      <div class="col s4">
        <label class="matrix-radio" for="four">
          <input type="radio" id="four" name="max_player" value="4">
          <span>4</span>
        </label>
      </div>
    </div>
    <div class="full-col input-field col s4">
      <div class="header-select-title col s12">Time limit</div>
      <div class="col s4">
        <label class="matrix-radio" for="nolimit">
          <input type="radio" id="nolimit" name="time_limit" value="0" checked>
          <span>No</span>
        </label>
      </div>
      <div class="col s4">
        <label class="matrix-radio" for="limit15">
          <input type="radio" id="limit15" name="time_limit" value="15">
          <span>15s</span>
        </label>
      </div>
      <div class="col s4">
        <label class="matrix-radio" for="limit30">
          <input type="radio" id="limit30" name="time_limit" value="30">
          <span>30s</span>
        </label>
      </div>
    </div>
    <button type="button" class="btn green m-button" id="create_game">Create game</button>
  </div>
</div>
<div class="row center">
  <div class="fb-share-button" data-href="http://matrix.heasygame.com/" data-layout="button_count"></div>
</div>

<div class="row center">
  <h5>Current games</h5>
  <div class="col s12 m12">
    <ul id="list_games" class="collection">
      <%= for game <- @games do %>
      <li class="collection-item" id="<%= game.id %>">
        <i class="left material-icons">visibility</i>
        <span class="left" id="game_spec"><%= Enum.count(game.spectators) %></span>
        <i class="left material-icons">timer</i>
        <span class="left" id="game_time_limit"><%= game.time_limit %></span>
        <i class="left material-icons" id="game_locked">
        <%= if game.locked do %>
        lock
        <% else %>
        lock_open
        <% end %>
        </i>
        <i class="left material-icons video">videogame_asset</i>
        <span class="left" id="game_info">[<%= Enum.count(game.players) %>/<%= game.max_player %>]</span>
        <span class="left green-text" id="game_mode">{<%= @modes_text[game.mode] %>}</span>
        <span class="left blue-text" id="game_id"><%= game.id %></span>
        <span class="left red-text" id="game_turn">[<%= game.turn %>]</span>
        <%= if Enum.count(game.players) >= 1 or Enum.count(game.players) == 0 do %>
        <a class="waves-effect green waves-teal black-text btn-small" id="p1-info">
          <span id="p1-nick" class="btn-nick"><%= Enum.at(game.player_nicks, 0, "???") %></span>
          <span class="white-text" id="p1-point"><%= Map.get(game.points, Enum.at(game.players, 0), 0) %></span>
        </a>
        <% end %>
        <%= if Enum.count(game.players) >= 2 do %>
        <a class="waves-effect blue waves-teal black-text btn-small" id="p2-info">
          <span id="p2-nick" class="btn-nick"><%= Enum.at(game.player_nicks, 1, "???") %></span>
          <span class="white-text" id="p2-point"><%= Map.get(game.points, Enum.at(game.players, 1), 0) %></span>
        </a>
        <% end %>
        <%= if Enum.count(game.players) >= 3 do %>
        <a class="waves-effect purple waves-teal black-text btn-small" id="p3-info">
          <span id="p3-nick" class="btn-nick"><%= Enum.at(game.player_nicks, 2, "???") %></span>
          <span class="white-text" id="p3-point"><%= Map.get(game.points, Enum.at(game.players, 2), 0) %></span>
        </a>
        <% end %>
        <%= if Enum.count(game.players) == 4 do %>
        <a class="waves-effect red waves-teal black-text btn-small" id="p4-info">
          <span id="p4-nick" class="btn-nick"><%= Enum.at(game.player_nicks, 3, "???") %></span>
          <span class="white-text" id="p4-point"><%= Map.get(game.points, Enum.at(game.players, 3), 0) %></span>
        </a>
        <% end %>
        <button class="secondary-content waves-effect pink waves-teal btn-small" id="join_game">
          <%= if Enum.count(game.players) < game.max_player do %>
            <%= link("JOIN", to: "/game/#{game.id}", id: "game_link", class: "white-text") %>
          <% else %>
            <%= link("WATCH", to: "/game/#{game.id}", id: "game_link", class: "white-text") %>
          <% end %>
        </button>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<ul style="display: none;">
  <li class="collection-item dummy_game" id="">
    <i class="left material-icons">visibility</i>
    <span class="left" id="game_spec"></span>
    <i class="left material-icons">timer</i>
    <span class="left" id="game_time_limit"></span>
    <i class="left material-icons" id="game_locked"></i>
    <i class="left material-icons video">videogame_asset</i>
    <span class="left" id="game_info"></span>
    <span class="left green-text" id="game_mode"></span>
    <span class="left blue-text" id="game_id"></span>
    <span class="left red-text" id="game_turn">[]</span>
    <a class="waves-effect green waves-teal black-text btn-small" id="p1-info">
      <span id="p1-nick" class="btn-nick"></span>
      <span id="p1-point" class="white-text"></span>
    </a>
    <a class="waves-effect blue waves-teal black-text btn-small" id="p2-info">
      <span id="p2-nick" class="btn-nick"></span>
      <span id="p2-point" class="white-text"></span>
    </a>
    <a class="waves-effect purple waves-teal black-text btn-small" id="p3-info">
      <span id="p3-nick" class="btn-nick"></span>
      <span id="p3-point" class="white-text"></span>
    </a>
    <a class="waves-effect red waves-teal black-text btn-small" id="p4-info">
      <span id="p4-nick" class="btn-nick"></span>
      <span id="p4-point" class="white-text"></span>
    </a>
    <button class="secondary-content waves-effect pink waves-teal btn-small" id="join_game"><a id="game_link" class="white-text" href="#">JOIN</a></button>
  </li>
</ul>
