<script src="https://cdnjs.cloudflare.com/ajax/libs/konva/1.6.3/konva.min.js"></script>
<style>
  .stage_player {
    background-color: #ecf0f1;
    margin: 10px auto 10px auto;
  }
  #game {
    display: flex;
    flex-wrap: wrap;
  }
</style>
