/* This file is for your main application css. */
.navbar-fixed-bottom,
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}

.text-warning {
  color: #8a6d3b;
}

.text-center {
  text-align: center;
}

.btn-nick {
  text-transform: none;
}

.logo {
  height: 50px;
  width: auto;
  margin-top: 7px;
}

.footer {
  padding: 10px;
}

.header-select {
  padding: 20px;
}

.header-select-title {
  margin-bottom: 5px;
  padding: 5px !important;
  font-weight: bold;
  border-bottom: 1px solid #4CAF50;
}

#game_info, #game_mode, #game_id, #game_turn, #game_spec, #game_time_limit {
  margin-top: 5px;
}

#game_info, #game_spec, #game_id, #game_turn, #game_mode, #game_time_limit {
  margin-left: -10px;
  margin-right: 10px;
}

.material-icons {
  margin-top: 4px;
}

#create_game {
  cursor: pointer;
}

[type="radio"]:checked+span:after {
  border: 6px solid #4CAF50;
  background-color: white;
}

[type="radio"]:not(:checked)+span:before {
  border: 2px solid #4CAF50;
}

input[type="text"] {
  border-bottom: 1px solid #4CAF50 !important;
}

.ml5 {
  margin-left: 50% !important;
}

.collection {
  border: solid 1px #4CAF50;
}

.matrix-radio > span {
  color: black;
}

.matrix-dialog {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}

.matrix-dialog > .container {
  height: auto;
  width: auto;
  margin: 20% 20%;
  background-color: white;
  border-top: solid 7px #4CAF50;
}

.matrix-dialog > .container > .content {
  text-align: center;
  padding: 20px;
}

.matrix-dialog > .container > .close-btn {
  cursor: pointer;
  margin: 10px 40%;
  width: 20%;
}

/* Small screen */
@media screen and (max-width: 1079px) {
  .logo {
    height: 60px;
  }

  .black {
    height: 73px;
  }

  .footer {
    font-size: 20px;
  }

  .header-select-title {
    font-size: 20px;
  }

  .matrix-radio > span {
    font-size: 25px !important;
  }

  #game_info, #game_mode, #game_turn, #game_spec, #game_time_limit {
    font-size: 25px;
  }

  #game_id, #game_turn, i.video {
    display: none;
  }

  .btn-nick, .white-text {
    font-size: 20px;
  }

  .container {
    width: 100%;
  }

  .full-col {
    width: 100% !important;
  }

  .nickname-set {
    width: 100% !important;
    margin: 0 !important;
  }

  .nickname-set > .s3 {
    width: 50% !important;
  }

  .header-bar {
    margin-top: 35px;
    border: 2px #4CAF50 solid;
    border-radius: 15px;
    padding: 20px !important;
  }

  .header-select-title {
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  h5 {
    text-transform: uppercase;
    font-weight: bold;
  }

  .m-button {
    font-weight: bold;
    width: 100%;
  }

  #create_game {
    margin-top: 25px;
    padding: 10px !important;
    height: auto !important;
    font-size: 20px;
  }

  .matrix-dialog > .container {
    margin-left: 10%;
    margin-right: 10%;
  }

  .matrix-dialog > .container > .content {
    font-size: 20px;
  }

}
